{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block navbar %}
{% include 'components/navbar.html' %}
{% endblock navbar %}

{% block content %}
<div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-8">
    <div>
      <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
      <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Sign in to your account</h2>
    </div>
      <form class="mt-8 space-y-6 login" action="{% url 'account_login' %}" method="POST">
        {% csrf_token %}

        <div class="-space-y-px rounded-md shadow-sm">
          <div>
            <label for="id_login" class="sr-only">Username</label>
            <input name="login" type="text" autocomplete="username" id="id_login" required class="relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 mt-4 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" placeholder="Username">
          </div>
          <div>
            <label for="id_password" class="sr-only">Password</label>
            <input name="password" type="password" autocomplete="current-password" id="id_password" required class="relative block w-full appearance-none rounded-none rounded-b-md border border-gray-300 px-3 py-2 mt-4 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" placeholder="Password">
          </div>
        </div>

        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <input id="id_remember" name="remember" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
            <label for="id_remember" class="ml-2 block text-sm text-gray-900">Remember me</label>
          </div>

          <div class="text-sm">
            <a href="{% url 'account_reset_password' %}" class="font-medium text-indigo-600 hover:text-indigo-500">Forgot your password?</a>
          </div>
          
        </div>
        <div>
          {% if socialaccount_providers %}
            <p>{% blocktrans with site.name as site_name %}Please sign in with one
            of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
            for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

            <div class="socialaccount_ballot">
              <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
              </ul>
              <div class="login-or">{% trans 'or' %}</div>
            </div>
            {% include "socialaccount/snippets/login_extra.html" %}
          {% else %}
            <p>{% blocktrans %}If you have not created an account yet, then please
            <a class="font-medium text-indigo-600 hover:text-indigo-500" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
          {% endif %}
        </div>
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div>
          <button type="submit" class="group relative flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
            <span class="absolute inset-y-0 left-0 flex items-center pl-3">
              
            </span>
            Sign in
          </button>
        </div>
      </form>
  </div>
</div>


{% endblock %}
